<h1>Coaching#ask</h1>
<p>Hello ! What do you want to ask ?</p>

<form action= <%= answer_path %>>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
